.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gaegu-bold {
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: "Gaegu", sans-serif;
  background: #f7f7f7;
}

button:hover {
  opacity: 0.9;
}
